.blog-item {
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
}

/* <nav class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link rounded-pill" href="#" (click)="changePage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
            <a class="page-link rounded-pill" href="#" (click)="changePage(i + 1)">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link rounded-pill" href="#" (click)="changePage(currentPage + 1)">Next</a>
        </li>
    </ul>
</nav> */

.pagination {
    margin-top: 2rem;
}

.page-item {
    margin: 0 0.1rem;
}

.page-link {
    padding: 0.5rem 1rem;
    border: 1px solid #007bff;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.page-link:hover {
    background-color: #007bff;
    color: white;
}

.blog-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}